* {
	margin:0;
	padding:0;
}
ul {
	list-style:none;
}
li {
	display:inline-block;
}
.screen {
	width:3280px;
	/*max-height:450px;*/
	position:relative;
	left:0px;
	transition: left .5s ease-in-out;
}
.screen li {
	max-height:450px;
	border:3px solid #fff;
	margin:20px 25px 0px;
}
.preview {
	width:606px;
	margin:10px 25px;
	text-align:center;
}
.preview li {
	padding:9px;
	width:100px;
	height:75px;
	position:relative;
}
.preview li img {
	position:absolute;
	left:9px;
	top:9px;
	max-width:100px;
	cursor:pointer;
	transition:0.5s ease-out;
	border:1px solid #fff;
}
.preview li img.active {
	box-shadow: 2px 2px 5px #fff, -2px -2px 5px #fff, -2px 2px 5px #fff, 2px -2px 5px #fff;
}
.preview li img:hover {
	left:0px;
	top:0px;
	max-width:120px;
}
.slider {
	width:656px;
	overflow:hidden;
	background-color:#848842;
	margin:0 auto;
}